<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
<<<<<<< HEAD
    <title>CheckAuth</title>
=======
    <title>Olx</title>
>>>>>>> e3e9c9f (20 July active admin)
=======
    <title>Olx</title>
>>>>>>> addfc9e (21 July modification)
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
